:root {
  --blackPrimary: #000;
  --whitePrimary:#fff;
  --greenPrimary: #35CB4D;
  --limePrimary: #CBFF00;
  --purplePrimary: #9068E4;
  --whiteSecondary: #f0f0e6;
  --yellowPrimary: #FDD201;
  --yellowSecondary: #fdbf00;
  --bluePrimary: #156CE3;
}
